In [3]:
z=3.5
type(z)

float

In [13]:
z=3
type(z)

int

In [12]:
z=3j
type(z)

complex

In [13]:
3.5+4

7.5

In [14]:
True+2

3

In [16]:
2*False+True

1

In [12]:
int(4.9)

4

In [19]:
bool(-7)

True

In [20]:
bool(0)

False

In [7]:
4.5+bool(-8)+int(6)+3.5+True

16.0

In [24]:
a= "I am a data scientist"
a
#print(a)

'I am a data scientist'

In [25]:
a[-9:]

'scientist'

In [29]:
a=3
z=True
a*z

0

In [56]:
import datetime as dt

In [28]:
td = dt.date.today()
td

datetime.date(2025, 1, 6)

In [37]:
print(dt.date.today().day)

6

In [57]:
print(dt.date.today().year)

2025

In [40]:
td = dt.date.today()
bday = dt.date(2005,8,10)
print(td-bday)

7089 days, 0:00:00

In [41]:
print(5>3)

True

In [23]:
print(5<3)

False

In [10]:
x=8
if(x%2==0):
    print("even")
else:
    print("odd")
    print("gg gg")
print("no")

y1= input("enter value ")
y= int(y1)
if(y%2==0):
    print("even")
else:
    print("odd")

even
no
enter value 5
odd

In [58]:
x=8
if(x%2!=0):
    print("even")
else:
    print("odd")
    print("gg gg")
print("no")

y1= input("enter value ")
y= int(y1)
if(y%2==0):
    print("even")
else:
    print("odd")

odd
gg gg
no
enter value 5
odd

In [5]:
def hello():
    print("hello data science world")

In [6]:
hello()

hello data science world

In [22]:
x=int(input("Enter value "))
y=int(input("Enter value "))
print("sum is ",x+y)
print("difference is ",x-y)
print("product is ",x*y)
print("x/y is ",x/y)

Enter value 4
Enter value 5
sum is  9
difference is  -1
product is  20
x/y is  0.8

In [26]:
Var = ["amrita","for","engineering"]
print(Var)

#creating a list
list = [10,20,120]
print("\nlist of numbers",list)
print(Var[0])

['amrita', 'for', 'engineering']

list of numbers [10, 20, 120]
amrita

In [35]:
List = [['Amrita','For'],['Engineering']]
print(List[0][0])
print(List[0][1])
print(List[1][0])

Amrita
For
Engineering

In [21]:
List = [1,2,3,4,5,3,3,4,6]
print("\nList with the use of numbers: ")
print(List)

List = [1,2,'Amrita',4,'For',6,'Engineering']
print(List)

List with the use of numbers:
[1, 2, 3, 4, 5, 3, 3, 4, 6]
[1, 2, 'Amrita', 4, 'For', 6, 'Engineering']

In [22]:
print(list[-2])

6

In [39]:
string = input ("enter element (space seperated): ")
list = string.split()
print('The list is:',list)

enter element (space seperated): Amrita School Of Engineering
The list is: ['Amrita', 'School', 'Of', 'Engineering']

In [19]:
list = []
print("Initial blank list: ")
print(list)

#addition of elements in the list
list.append(1)
list.append(6)
list.append(7)
print("\nlist after addition of three elements: ")
print(list)

List=[]
#adding elements to the list using Iterator
for i in range(1,4):
    List.append(i)
print('\nList after addition of elements from 1-3: ')
print(List)

List.append((4,5))
print('\nList after addition of a tuple: ')
print(List)

list2=[4,5]
List.append(list2)
print(List)

List.remove(list2)
print(list)

Initial blank list:
[]

list after addition of three elements:
[1, 6, 7]

List after addition of elements from 1-3:
[1, 2, 3]

List after addition of a tuple:
[1, 2, 3, (4, 5)]
[1, 2, 3, (4, 5), [4, 5]]
[1, 6, 7]

In [25]:
list=[]
list.append(input("Give first number"))
list.append(input("Give second number"))
if(list[0]>list[1]):
    print("first number is greater")
else:
    print("second number is greater")

Give first number5
Give second number6
second number is greater

In [28]:
List=[]
for i in range(1,100):
    if (i%20==0):
        List.append(i)
print('\nList with multiples of 20 from 1-100: ')
print(List)

List with multiples of 20 from 1-100:
[20, 40, 60, 80]